<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914273256199-87p68mjd247ln92fkprkm21euj8vrtmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914273256199-87p68mjd247ln92fkprkm21euj8vrtmv</string>
	<key>API_KEY</key>
	<string>AIzaSyDjBuZX2ZQicm0S-5MLYnminlxBHwuH5pU</string>
	<key>GCM_SENDER_ID</key>
	<string>914273256199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pabloypietro.prods.Klotho</string>
	<key>PROJECT_ID</key>
	<string>klotho-555fa</string>
	<key>STORAGE_BUCKET</key>
	<string>klotho-555fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914273256199:ios:c7ac7ea271a83b850f7ba2</string>
	<key>DATABASE_URL</key>
	<string>https://klotho-555fa.firebaseio.com</string>
</dict>
</plist>